.storyBlock {
    margin-bottom: 30px;
}

.storyText {
    margin-bottom: 10px;
    line-height: 1.5;
}

.decisionRow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.choiceBubble {
    padding: 8px 12px;
    border-radius: 20px;
    background: #1c1c22;
    border: 1px solid #333;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
}

/* választott */
.choiceBubble.chosen {
    background: radial-gradient(circle, #8be9fd, #2a2a33);
    color: #000;
}

/* nem választott */
.choiceBubble.notChosen {
    background: #111;
    color: #555;
    filter: grayscale(100%);
}



.endingBlock {
    border-top: 2px solid #ff5555;
    padding-top: 15px;
}

.timelineBlock {
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 15px;
}

.timelineRow {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.timelineChoice {
    padding: 6px 10px;
    border-radius: 14px;
    font-size: 13px;
    background: #1c1c22;
    border: 1px solid #333;
}

.timelineChoice.chosen {
    background: #8be9fd;
    color: #000;
}

.timelineChoice.notChosen {
    background: #111;
    color: #555;
    filter: grayscale(100%);
}