// CSAK pár perces teszthez. Publikus írást enged, élesben veszélyes.
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /trees/{treeId} {
      allow read, write: if true;
    }
  }
}
